.clear {
    clear: both;
}

.phone {
    width: 45%;
    float: left;
    padding-left: 50px; ;
}

.phone input {
    margin: 5px;
}

.display {
    border: 1px solid black;
    width: 40%;
    height: 200px;
    margin: 20px auto;
    margin-left: 5px;
    float: left;
}

.display ul {
    list-style-type: decimal;
}

.display p {
    position: relative;
    left: 30px;
    top: -5px;
}

.display hr {
    position: relative;
    top: -15px;
}